body{
    font-family: arial;
    font-size: 14px;
}

#painel{
    width:300px;
    height: 500px;
    position: relative;
    margin: 20px auto;
    padding: 20px;
}

#fantasia{
    text-align: center;
    margin-bottom: 10px;
}

#caixa form{
    padding: 22px 20px;
    border-style: solid;
    border-width: 15px 3px 15px;
    border-radius: 5px;
    border-color: #363636;
    display: inline;
    position: absolute;
    right: auto;
    left: auto;
}

#tituloLogin{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0px 10px;
    color:#00008B;
}

#text-email{
    font-size: 18px;
    width: 240px;
    padding: 5px 0px 5px;
    margin: 10px 0px 10px 0;
    display: block;
    border-width: 0px 0px 1px 0px;
    border-color:#00008B;
}

#text-email:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color:#00BFFF;
}


#text-password{
    font-size: 18px;
    width: 240px;
    padding: 5px 0px 5px;
    margin: 10px 0px 10px 0;
    display: block;
    border-width: 0px 0px 1px 0px;
    border-color:#00008B;
}

#text-password:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color:#00BFFF;
}

#logado{
    margin-left:0;
}

#labelLogado{
    font-size: 15px;
}

#botao-entrar{
    margin:auto;
    font-family: arial;
    font-size:16px;
    color: #ffffff;
    background-color: #00008B;
    margin: 20px 0px 20px 0px;
    display:block;
    width: 240px;
    height: 50px;
    border-style: solid;
    border-width: 0px;
}

#botao-entrar:hover {
    background-color: #00BFFF;
  }

#cadastro{
    text-align: center;
    margin: 10px 0px;
}

#labelCadastrar{
    font-size: 15px;
    margin-right: 5px;
}

#botao-cadastrar{
    width: 100px;
    height: 20px;
    font-family: arial;
    font-size: 10px;
    padding: 2px 5px 2px 5px;
    color: #ffffff;
    background-color: #00008B;
    border-style: solid;
    border-width: 0px;
}

#botao-cadastrar:hover {
    background-color: #00BFFF;
}
