.prestador-homepage-wrapper {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  position: relative;
}

.prestador-homepage-edit {
  position: absolute;
  top: 0;
  right: 20px;
  color: #7f6aab;
  font-size: 27px;
  transition: all 0.2s ease-in-out;
}

.prestador-homepage-edit:hover {
  opacity: 80%;
  cursor: pointer;
}

.prestador-homepage-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.prestador-homepage-funcionarios-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 20px;
  margin-left: 20px;
}

.prestador-hompage-funcionario {
  border: 1px solid #7f6aab;

  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

@media only screen and (min-width: 769px) {
  .prestador-homepage-funcionarios-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4px;
  }
}

.prestador-hompage-funcionario:hover {
  opacity: 70%;
  cursor: pointer;
}

.prestador-homepage-address {
  margin-left: 20px;
  font-size: 14px;
}

.form-group-prestador {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px;
}
.form-group-prestador input {
  padding: 10px;
  border: 1px solid #7f6aab;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.button-save-prestador-h {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.form-group-prestador-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
